@model SkepsisWeb.Models.Feedback

@{
    ViewBag.Title = "Anna palautetta";
}
<div class="row">
    <div class="col-md-12 text-left data">
        <h1>Palaute</h1>
        <p>Voit antaa palautetta Skepsikselle tämän lomakkeen kautta. </p>
        <p>Voit lähettää palautetta myös sähköpostilla yhdistyksen <a href="/Sivut/Yhteystiedot">sihteerille</a>.</p>

        <p></p>
        @if (!string.IsNullOrEmpty(Model.CompletedMessage)) {
            <div class="alert alert-success" role="alert">
                @Model.CompletedMessage
            </div>
        } else {
            @Html.Partial("_ValidationSummary")
            <form id="my-form" class="bs-example form-horizontal" method="post" enctype="multipart/form-data">
                <fieldset>
                    <div class="form-group">
                        <label for="inputUserName" class="col-lg-3 control-label">Nimi</label>
                        <div class="col-lg-9">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputUserName" class="col-lg-3 control-label">Sähköpostiosoite</label>
                        <div class="col-lg-9">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputUserName" class="col-lg-3 control-label">Puhelinnumero</label>
                        <div class="col-lg-9">
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputUserName" class="col-lg-3 control-label">Palaute</label>
                        <div class="col-lg-9">
                            @Html.TextAreaFor(model => model.Info, new { @class = "form-control", @id = "textArea", @style = "height:100px" })
                        </div>
                    </div>
                    <div style="width:100%; text-align:right">
                        <button type="submit" class="btn btn-primary btn-normal" name="button" value="ok">Lähetä hakemus</button>
                    </div>
                </fieldset>
            </form>
        }
    </div>
</div>
