@{
    ViewBag.Title = "Etusivu";
    ViewBag.ogDescription = @"Skepsis ry on suomalaisten skeptikkojen vuonna 1987 perustama tieteellinen yhdistys. Skepsiksen sääntöjen mukaan yhdistyksen tarkoitus on edistää kriittistä ajattelua,  
        kiisteltyjen tai erityisen poikkeuksellisten väitteiden tieteellistä tarkastelua ja keskustelua tieteelliseen maailmankuvaan liittyvistä tärkeistä aiheista.";
}
@using SkepsisWeb.Helpers
@model SkepsisWeb.ViewModels.IndexViewModel

<div class="row">
    <div class="col-md-6 text-left data">
        <h1>Mikä on Skepsis?</h1>
        <p><strong>Skepsis ry</strong> on suomalaisten skeptikkojen vuonna 1987 perustama tieteellinen yhdistys.</p>
        <p>
            <a href="/YhdistyksenSaannot">Skepsiksen sääntöjen</a> mukaan yhdistyksen tarkoitus on
        </p>
        <ul>
            <li>Edistää kriittistä ajattelua, <a href="~/Ihmeellinen/tiede.html">tieteellisen</a> tiedon hankintamenetelmien opetusta sekä tieteeseen ja järkeen perustuvaa käsitystä maailmasta.</li>
            <li>Edistää kiisteltyjen tai erityisen poikkeuksellisten väitteiden tieteellistä tarkastelua.</li>
            <li>Edistää keskustelua tieteelliseen maailmankuvaan liittyvistä tärkeistä aiheista.</li>
            <li>Ylläpitää tällaisesta toiminnasta kiinnostuneiden ihmisten verkostoa, järjestää kokouksia ja keskustelu- ja luentotilaisuuksia sekä harjoittaa tiedotus- ja valistustoimintaa.</li>
        </ul>
        <p>
            Yhdistys on poliittisesti, aatteellisesti sekä uskonnollisesti sitoutumaton.
        </p>
    </div>
    <div class="col-md-6 second text-left">
        <h1>Uutisia</h1>
        @foreach (var item in Model.Articles) {
            <a href="/Uutiset"><h4>@item.ArticleDatetime.ToString("dd.MM.yyyy") @item.Title</h4></a>
            <p>@Html.FormatBody(item.Ingress)</p>
            <div style="margin-bottom:20px"></div>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-6 text-left">
        <h1>Huuhaa- ja Sokrates-palkinnot</h1>

        <h4>Huuhaa-palkinto @Model.HuuhaaPrize.PrizeID</h4>
        <p>@Model.HuuhaaPrize.HuuhaaPrizeLead <b>@Model.HuuhaaPrize.HuuhaaPrizeTitle</b> @Model.HuuhaaPrize.HuuhaaPrizeSubTitle</p>
        <p>Lue palkinnon perustelut <a href="/HuuhaaPalkinto/@Model.HuuhaaPrize.PrizeID">täältä.</a></p>

        <h4>Sokrates-palkinto @Model.SokratesPrize.PrizeID</h4>
        <p>@Model.SokratesPrize.SokratesPrizeLead <b>@Model.SokratesPrize.SokratesPrizeTitle</b> @Model.SokratesPrize.SokratesPrizeSubTitle</p>
        <p>Lue palkinnon perustelut <a href="/SokratesPalkinto/@Model.SokratesPrize.PrizeID">täältä.</a></p>
    </div>
    <div class="col-md-6 second text-left">
        <h1>Seuraavat tapahtumat</h1>
        @foreach (var item in Model.PublicEvents) {
            <a href="/Tapahtumat">
                <h4>
                    @item.EventDatetime.ToString("dd.MM.yyyy") @item.Title
                    <i>@item.City</i>
                </h4>
            </a>
            <p>@Html.FormatBody(item.Ingress)</p>
            <div style="margin-bottom:20px"></div>
        }
    </div>
</div>

@Html.Partial("_Lehti", Model.MagazineViewModel)


@*<p class="text-right" style="margin-right:20px">
    <a href="http://get.adobe.com/fi/reader/">Lataa Adobe Reader tästä</a>
</p>*@

<div class="row" style="margin-top:40px">
    <div class="col-md-6" style="text-align:left">
        <h1>Kirja: Voiko se olla totta? <br/>Skeptisiä näkökulmia nykymenoon</h1>
        <div><i>Toimittanut Tiina Raevaara</i></div>
        <p>Tiedon valtaväylällä on synkkiä
            sivupolkuja. Internetin piti tuoda
            maailman kaikki tieto kaikkien
            ulottuville, mutta verkossa jylläävät
            pseudotiede, salaliittoteoriat ja
            suoranainen humpuuki. Ihmisten
            eristäytyminen samanmielisten
            some-kupliin takaa, ettei korjaava
            tieto koskaan eksykään silmien eteen.
            Miten luotettavan tiedon voi löytää
            kokemusasiantuntijoiden ja tunteisiin
            vetoavan populismin joukosta? </p>
        
        <div style="margin-top: 30px">
            Tilaa <a href="https://www.ursa.fi/kauppa/tuote/voiko-se-olla-totta/">täältä</a> tai katso lisätietoja <a href="~/Jutut/ursa_vsot_mainos_A4.pdf" target="_blank">täältä</a>.
        </div>
    </div>
    <div class="col-md-6" center-block><a href="~/Jutut/ursa_vsot_mainos_A4.pdf" target="_blank"><img alt="" src="/img/kirjan_kansi.jpg" style="max-width: 200px"></a></div>
</div>



<div class="row" style="margin-top:40px">
    <div class="col-md-4" style="text-align:left"><a href="http://www.facebook.com/home.php?#!/groups/skepsisry/"><img alt="" src="/img/facebook.jpg" style="width: 100px;"></a></div>
    <div class="col-md-4 center-block"><a href="/LiitySkepsiksenJaseneksi"><img class="footimg2" alt="" src="/img/liity.png"></a></div>
    <div class="col-md-4" style="text-align:right"><a href="/SkepsisInEnglish">In English</a>&nbsp;•&nbsp;<a href="/SkepsisPaSvenska">På Svenska</a></div>
</div>
