@model SkepsisWeb.Models.Member

@{
    ViewBag.Title = "Liity Skepsiksen jaseneksi";
}
<div class="row">
    <div class="col-md-12 text-left data">
        <h1>Liity Skepsiksen jäseneksi</h1>
        <p>Yhdistyksen kalenterivuosittainen jäsenmaksu vuodelle 2016 on 30€ ja sisältää Skeptikko-lehden tilauksen. Alle 24-vuotiaille jäsenmaksu on 15€. Mikäli olet alle 24-vuotias, ilmoita myös syntymäaikasi. Yksityisen henkilön kannatusjäsenmaksu on 100€ ja oikeustoimikelpoisen yhteisön 200€. Saat sähköpostitse ohjeet jäsenmaksun suorittamiseksi, kun hallitus on hyväksynyt sinut jäseneksi.</p>

        <p>Voit tilata <b>Skeptikko-lehden</b> myös liittymättä jäseneksi. Tilausmaksu on 30€/vuosi. Tilaa lehti <a href="https://holvi.com/shop/skepsis/section/lehtitilaus/">verkkokaupassamme</a>.</p>

        <p>Painamalla sivun alalaidassa sijaitsevaa "Lähetä hakemus"-painiketta hyväksyt yhdistyksen <a href="/YhdistyksenSaannot">säännöt</a> ja niissä määritellyn <a href="/MikaSkepsisOn">yhdistyksen tarkoituksen ja toimintaperiaatteet</a>.</p>

        <p>Ongelmatilanteessa hakemuksen voi lähettää myös postitse yhdistyksen <a href="/Yhteystiedot">sihteerille</a>.</p>

        <p>Voit kirjoittaa "Lisätietoja"-kenttään, millaisia kokemuksia sinulla on Skepsiksen toimialaan liittyvistä asioista, mahdollisesti aihetta sivuavat julkaisut, jäsenyys muissa tieteellisissä yhdistyksissä, erityiset mielenkiinnon kohteet ym.</p>

        <p></p>
        @if(!string.IsNullOrEmpty(Model.CompletedMessage)) {
            <div class="alert alert-success" role="alert">
                @Model.CompletedMessage
            </div>
        } else { 
            @Html.Partial("_ValidationSummary")
            <form id="my-form" class="bs-example form-horizontal" method="post" enctype="multipart/form-data">
                <fieldset>
                    <div class="form-group">
                        <label for="inputUserName" class="col-lg-3 control-label">Nimi</label>
                        <div class="col-lg-9">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputUserName" class="col-lg-3 control-label">Katuosoite</label>
                        <div class="col-lg-9">
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputUserName" class="col-lg-3 control-label">Postinro ja postitoimipaikka</label>
                        <div class="col-lg-9">
                            @Html.TextBoxFor(model => model.ZipAndCity, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputUserName" class="col-lg-3 control-label">Sähköpostiosoite</label>
                        <div class="col-lg-9">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputUserName" class="col-lg-3 control-label">Puhelinnumero</label>
                        <div class="col-lg-9">
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputUserName" class="col-lg-3 control-label">Koulutus</label>
                        <div class="col-lg-9">
                            @Html.TextBoxFor(model => model.Education, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputUserName" class="col-lg-3 control-label">Ammatti</label>
                        <div class="col-lg-9">
                            @Html.TextBoxFor(model => model.Profession, new { @class = "form-control" })
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label for="inputUserName" class="col-lg-3 control-label">Hakemuksen tyyppi</label>
                        <div class="col-lg-9">
                            @{
                                var listItems = new List<SelectListItem>() {
                                    new SelectListItem {Text = "Liityn Skepsis ry:n jäseneksi (sis. lehden)", Value = "FULL"},
                                    new SelectListItem {Text = "Tilaan vain lehden", Value = "MAGAZINE"}
                                };
                            }
                            @Html.DropDownListFor(model => model.Type, listItems, new { @class = "form-control", @id = "status" })
                        </div>
                    </div>*@
                    @Html.HiddenFor(model => model.Type)
                    <div class="form-group">
                        <label for="inputUserName" class="col-lg-3 control-label">Lisätietoja</label>
                        <div class="col-lg-9">
                            @Html.TextAreaFor(model => model.Info, new { @class = "form-control", @id = "textArea", @style = "height:100px" })
                        </div>
                    </div>
                    <div style="width:100%; text-align:right">
                        <button type="submit" class="btn btn-primary btn-normal" name="button" value="ok">Lähetä hakemus</button>
                    </div>
                </fieldset>
            </form>
        }
    </div>
</div>
