@model SkepsisWeb.ViewModels.MagazinesViewModel
@using SkepsisWeb.Helpers

@{
    ViewBag.Title = "Skeptikko-lehdet @Model.Year";
}
@foreach (SkepsisWeb.Models.Magazine issue in Model.Magazines) {
    SkepsisWeb.ViewModels.MagazineViewModel vm = new SkepsisWeb.ViewModels.MagazineViewModel();
    vm.Magazine = issue;
    vm.MagazineArticles = Model.MagazineArticles.Where(z => z.MagazineID == vm.Magazine.MagazineID);
    @Html.Partial("_Lehti", vm)
}
@*<table>
        @foreach (var item in Model.MagazineArticles) {
            if (item.MagazineID == issue.MagazineID) {
                <tr>
                    <td style="font-weight: bold; text-align: right; padding-right: 10px; vertical-align: top">
                        @if(string.IsNullOrEmpty(item.Author)) {
                            @:-
                        } else {
                            @item.Author
                        }
                    </td>
                    <td style="vertical-align: top">
                        @item.Title
                        @if (!@issue.PublicPdf && !string.IsNullOrEmpty(item.PdfFile)) {
                            <a href="@item.PdfFile" target="_blank">&raquo; PDF</a>
                        }
                    </td>
                </tr>
            }
        }
    </table>
*@
