<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="Skepsis - @ViewBag.Title" />
    <meta property="og:url" content="http://www.skepsis.fi/Sivut/@ViewBag.OgPageUrl" />
    <meta property="og:image" content="http://www.skepsis.fi/Img/skepsis-logo-iso1.png" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Skepsis ry" />
    <meta property="fb:admins" content="niko.wessman" />
    <meta property="fb:app_id" content="266338713768371" />

    @{
        if (!string.IsNullOrEmpty(ViewBag.ogDescription)) {
    <meta property = "og:description" content = "@ViewBag.ogDescription" />
        }
    }

    @* Testaa: https://developers.facebook.com/tools/debug/ *@

    <title>Skepsis - @ViewBag.Title</title>

    <link href="~/Img/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/styles.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/fi_FI/sdk.js#xfbml=1&version=v2.8&appId=266338713768371";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="wrapper">
        <div class="container">
            <header>
                <div class="top col-md-12">
                    <div>
                        <a class="navbar-brand" href="index.html"><img src="/img/logo.png"></a>
                    </div>

                </div>

                <div class="menu col-md-12 text-center">
                    <div class="navbar  " role="navigation">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                        </div>
                        <div class="collapse navbar-collapse " style="">
                            <ul class="nav navbar-nav">
                                <li><a href="/">Etusivu</a></li>
                                <li class="menu-separator"></li>
                                <li>
                                    <a href="/" class="dropdown-toggle" data-toggle="dropdown">Yhdistys</a>
                                    <ul class="dropdown-menu multi-level">
                                        <li><a href="/Sivut/MikaSkepsisOn">Mikä Skepsis on?</a></li>
                                        <li class="sub-menu"><a href="/Sivut/SkepsisPaSvenska">Skepsis på Svenska</a></li>
                                        <li class="sub-menu"><a href="/Sivut/SkepsisInEnglish">Skepsis in English</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/Sivut/Henkilohistoria">Henkilöhistoria</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/Sivut/YhdistyksenSaannot">Yhdistyksen säännöt</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/Sivut/Yhteystiedot">Yhteystiedot</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/Sivut/AnnaPalautetta">Anna palautetta</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/Sivut/LiitySkepsiksenJaseneksi">Liity Skepsiksen jäseneksi</a></li>
                                    </ul>
                                </li>
                                <li class="menu-separator"></li>
                                <li>
                                    <a href="/" class="dropdown-toggle" data-toggle="dropdown">Toiminta</a>
                                    <ul class="dropdown-menu multi-level">
                                        <li><a href="/Sivut/Uutiset">Uutiset</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/Sivut/Tapahtumat">Tapahtumat</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/Sivut/HuuhaaJaSokratesPalkinnot">Huuhaa- ja Sokrates-palkinnot</a></li>
                                        <li class="sub-menu"><a href="/Sivut/HuuhaaPalkinnot">Huuhaa-palkinnot</a></li>
                                        <li class="sub-menu"><a href="/Sivut/SokratesPalkinnot">Sokrates-palkinnot</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/Sivut/SkepsiksenHaasteJaStipendi">Skepsiksen haaste ja stipendi</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/Sivut/NilsMustelinRahasto">Nils Mustelin rahasto</a></li>
                                        <li class="divider"></li>
                                        <li><a href="https://holvi.com/shop/skepsis/">Skepsiksen myyntituotteet</a></li>
                                    </ul>
                                </li>
                                <li class="menu-separator"></li>
                                <li>
                                    <a href="/" class="dropdown-toggle" data-toggle="dropdown">Julkaisuja</a>
                                    <ul class="dropdown-menu multi-level">
                                        <li><a href="/Sivut/SkeptikkoLehdet">Skeptikko-lehdet</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/Sivut/Artikkelit">Artikkelit</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/Sivut/Linkkeja">Linkkejä</a></li>
                                        <li class="divider"></li>
                                        <li><a href="~/Ihmeellinen/">Ihmeellinen maailma</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/Sivut/AudioJaVideotallenteet">Audio- ja videotallenteet</a></li>
                                    </ul>
                                </li>
                                <li class="menu-separator"></li>
                                <li class="active"><a href="http://keskustelu.skepsis.fi">Keskustelu</a></li>
                                <li class="menu-separator"></li>
                                <li class="active"><a href="/Sivut/Haku">Haku</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>

            </header>


            @RenderBody()

            <footer>
                <div class="foot-text" style="float:left">
                    <p>Copyright 2016 Skepsis ry • Sivuston ylläpidosta vastaa <a href="http://www.nsd.fi">NSD Oy</a> </p>
                </div>
                @if (!string.IsNullOrEmpty(@ViewBag.OgPageUrl)) {
                    <div style="float: right; margin: 4px 15px;" class="fb-like" data-href="http://www.skepsis.fi/Sivut/@ViewBag.OgPageUrl" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                }
            </footer>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Custom Js -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-27605309-1', 'auto');
      ga('send', 'pageview');
    </script>
   </body>
</html>
