@model SkepsisWeb.ViewModels.MagazineViewModel
@using SkepsisWeb.Helpers


<div class="row no-left" style="margin-bottom:30px">
    <div class="col-md-5 text-left">
        <div class="row">
            <div class="col-md-12 no-left">
                <h1>Skeptikko @Model.Magazine.MagazineID</h1>
            </div>
        </div>
        @if (Model.Magazine.PublicPdf && !string.IsNullOrEmpty(Model.Magazine.MagazinePdfFileUrl)) {
            <div class="row">
                <div class="col-md-12 no-left">
                    Avaa tästä <a href="@Model.Magazine.MagazinePdfFileUrl" target="_blank">&raquo; PDF lehti</a>
                </div>
            </div>
        }
        <div class="row ">
            <div class="col-md-12 no-left">
                <img src="@Model.Magazine.MagazineCoverImageUrl" style="max-width: 300px; " />
            </div>
        </div>
    </div>

    <div class="col-md-7 text-left ">
        <div class="row"><div class="col-md-12"></div><h1>&nbsp;</h1></div>
            @if (Model.Magazine.PublicPdf && !string.IsNullOrEmpty(Model.Magazine.MagazinePdfFileUrl)) {
                <div class="row">
                    <div class="col-md-12">&nbsp;</div>
                </div>
            }
            <div>
                @foreach (var item in Model.MagazineArticles) {
                    <div style="font-size:13px">
                        @if (!string.IsNullOrEmpty(item.Author)) {
                            <span style="font-weight: bold">@item.Author :</span>
                        }
                        @if (!@Model.Magazine.PublicPdf && !string.IsNullOrEmpty(item.PdfFile)) {
                            <span><a href="@item.PdfFile" target="_blank">@Html.FormatBody(item.Title)</a></span>
                        } else {
                            <span style="">@Html.FormatBody(item.Title)</span>
                        }
                    </div>
                }
            </div>
        </div>

</div>


 @*<div class="row" style="margin-bottom:30px">
        <div class="col-md-12 text-left data">
            <table border="0" style="width: 100%">
                <tr>
                    <td style="border: none; " colspan="2">
                        <h1>Skeptikko @Model.Magazine.MagazineID</h1>
                    </td>
                </tr>
                @if (Model.Magazine.PublicPdf && !string.IsNullOrEmpty(Model.Magazine.MagazinePdfFileUrl)) {
                    <tr>
                        <td style="border:none; padding-top: 10px" colspan="2">
                            Avaa tästä <a href="@Model.Magazine.MagazinePdfFileUrl" target="_blank">&raquo; PDF lehti</a>
                        </td>
                    </tr>
                }
                <tr>
                    <td style="border: none; width: 300px; padding-top: 20px">
                        <img src="@Model.Magazine.MagazineCoverImageUrl" style="max-width: 300px; " />
                    </td>
                    <td style="border: none; vertical-align: top; padding-left: 20px; padding-top: 20px">
                        <ul>
                            @foreach (var item in Model.MagazineArticles) {
                                <li>
                                    @if (!string.IsNullOrEmpty(item.Author)) {
                                        <span style="font-weight: bold">@item.Author :</span>
                                    }
                                    @if (!@Model.Magazine.PublicPdf && !string.IsNullOrEmpty(item.PdfFile)) {
                                        <span><a href="@item.PdfFile" target="_blank">@item.Title</a></span>
                                    } else {
                                        <span style="">@item.Title</span>
                                    }
                                </li>
                            }
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>

                     <ul>
                    @foreach (var item in Model.MagazineArticles) {
                        <li>
                            @if (!string.IsNullOrEmpty(item.Author)) {
                                <span style="font-weight: bold">@item.Author :</span>
                            }
                            @if (!@Model.Magazine.PublicPdf && !string.IsNullOrEmpty(item.PdfFile)) {
                                <span><a href="@item.PdfFile" target="_blank">@Html.FormatBody(item.Title)</a></span>
                            } else {
                                <span style="">@Html.FormatBody(item.Title)</span>
                            }
                        </li>
                    }
                </ul>


*@